@{
  Layout = "_Layout";
}

@model NonProfit.Models.Item

<h4>Add a new Donation</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Money)
    @Html.TextBoxFor(model => model.Money)

    @Html.LabelFor(model => model.Donor)
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add new donation" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all donations", "Index")</p>
